# Server
server/node_modules/
server/uploads/*
!server/uploads/.gitkeep
server/.env
server/package-lock.json

# Android
android-app/.gradle/
android-app/local.properties
android-app/app/build/
android-app/build/
android-app/*.iml
android-app/.idea/
android-app/.cxx/
android-app/gradle/
*.apk
*.aab

# OS
.DS_Store
Thumbs.db

# Archives & Downloads
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# IDE & Editor
node_modules/
dist/
build/
*.log
*.tmp
*.env
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Cache & Temp
.gradle/
.cache/
.next/
out/
*.class
*.jar